@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Not found</title>
</head>
<body>
    <div>
        Ошибка. Запрашиваемый вами ресурс не найден <br />
        <a href="/">Вернуться на главную</a>
    </div>
</body>
</html>
